body {
    background-color: beige;

}

#conatiner {
    background-color: crimson;
}

.hide {
    display: none;
}


.me {
    display: block;
}

.slideshow {
    margin: auto;
}

header {
    background-color: beige;
    text-align: center;
    font-family: cursive;
    color: #4d0000;
    padding: 1%;
}

main {
    background: #4d0000;
    color: white;
    text-align: center;
    padding: 1%;
}

aside {
    background-color: white;
    color: #4d0000;
    padding: 1%;
    text-align: center;
}

article {
    background-color: white;
    color: #4d0000;
    padding: 1%;
    text-align: center;
}

ul {
    list-style: none;
    padding: 1%;
}

footer {
    display: none;
}

/* Media Q */

@media (min-width: 600px) {

    #container {
        width: 700px;
        height: 1000px;
        background-color: black;
        padding: 1%;
        margin: auto;
        outline-style: double;
        outline-color: #4d0000;
        outline-width: thick;
    }

    header {
        outline-style: double;
        outline-color: #4d0000;
        outline-width: thick;
    }

    aside {
        background-color: #4d0000;
        float: right;
        clear: both;
        color: white;
        width: 300px;
        margin-top: 50px;
        padding: 10px;
        outline-style: double;
        outline-color: beige;
        outline-width: thick;
    }


    main {
        background-color: #4d0000;
        width: 300px;
        margin-top: 25px;
        padding-right: 50px;
        color: white;
        outline-style: double;
        outline-color: beige;
        outline-width: thick;
    }

    article {
        background-color: #4d0000;
        color: white;
        width: 300px;
        margin-top: 20px;
        padding-right: 50px;
        outline-style: double;
        outline-color: beige;
        outline-width: thick;
    }

    h2 {
        color: beige;
    }

    footer {
        background-color: beige;
        clear: both;
        margin-top: 100px;
        height: 5%;
        display: block;
        text-align: center;
        font-family: cursive;
        outline-style: double;
        outline-color: #4d0000;
        outline-width: thick;
    }
}

@media (min-width: 900px) {

    #container {
        width: 900px;
        height: 1000px;
        background-color: black;
        padding: 1%;
        margin: auto;
    }

    aside {
        background-color: #4d0000;
        float: right;
        clear: both;
        color: white;
        width: 300px;
        margin-top: 50px;
        margin-right: 50px;
        padding: 10px;
        outline-style: double;
        outline-color: white;
        outline-width: thick;
        text-align: center;
    }

    main {
        background-color: #4d0000;
        width: 300px;
        margin-top: 25px;
        margin-left: 50px;
        padding-right: 50px;
        color: white;
        outline-style: double;
        outline-color: white;
        outline-width: thick;
    }

    article {
        width: 300px;
        margin-top: 20px;
        margin-left: 50px;
        padding-right: 50px;
        outline-style: double;
        outline-color: white;
        outline-width: thick;
    }

    .slideshow {
        margin: auto;
    }

    footer {
        background-color: beige;
        clear: both;
        margin-top: 100px;
        height: 5%;
        display: block;
        text-align: center;
        font-family: cursive;
        outline-style: double;
        outline-color: #4d0000;
        outline-width: thick;
    }
}
